[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
build = "*"
pytest = "*"
pytest-mock = "*"
popmessage = {file = ".", editable = true}

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
